* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease;
}

html {
  height: 100%;
  overflow-y: hidden;
}

html, h1, h2, body, header {
  margin: 0;
}

header {
  padding: 0.25rem;
  position: sticky;
  top: 0;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

h1 {
  text-align: left;
  padding-left: 10px; /* Adjust as needed for spacing from the left edge */
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  margin: 0 4px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}


#themeToggleContainer {
  text-align: right;
  padding-right: 10px; /* Adjust as needed for spacing from the right edge */
}


.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

button#themeToggle {
  text-align: right;
  padding: 10px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

/* ==========================================================================
   Calculator styles
   ========================================================================== */

body {
  font-family: 'Arial', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.calculator {
  width: 99%;
  height: 90%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  gap: 1px;
}

textarea {
  flex: 1;
  width: 50vh;
  height: 100%;
  padding: 10px;
  font-size: 16px;
  overflow: auto;
  resize: none;
}

/* Light mode styles */
[data-theme="light"] body {
  --primary-bg-color: #f4f4f4;
  --primary-text-color: #333;
  --secondary-bg-color: white;
  --secondary-text-color: black;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-bg-color);
}

[data-theme="light"] {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color)
}

[data-theme="light"] button#themeToggle:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/* Dark mode styles */
[data-theme="dark"] body {
  --primary-bg-color: #333;
  --primary-text-color: #f4f4f4;
  --secondary-bg-color: #2f2f2f;
  --secondary-text-color: #a8a2a2;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-bg-color);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

[data-theme="dark"] {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color)
}

[data-theme="dark"] button#themeToggle:hover {
  background-color: var(--primary-text-color);
  color: var(--primary-bg-color);
}

[data-theme="dark"] button#themeToggle:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

main, button#themeToggle, .calculator, textarea {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

h1, h2, h3, a:link, a:visited, a:hover, a:active {
  color: var(--primary-text-color);
}

header, footer {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color);
}


/* Style the scrollbar track (background) */
textarea::-webkit-scrollbar {
  width: 8px;
  height: 12px;
  background-color: var(--secondary-bg-color); /* Color of the track */
  cursor: grab;
}

/* Style the scrollbar thumb (the moving part) */
textarea::-webkit-scrollbar-thumb {
  background-color: var(--primary-text-color); /* Color of the thumb */
  border-radius: 4px; /* Rounded corners */
  background-clip: padding-box;
  border: 2px solid transparent;
  cursor: grab;
  transform: scale(0.99); /* Apply a barely noticeable transform */
}

/* Style the scrollbar thumb on hover */
textarea::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-text-color); /* Color on hover */
}

